<div class="card mb-4">
  <div class="card-body">
    <%= preference_field(@integration, form, 'username', i18n_scope: 'admin.integrations.shipstation') %>
    <%= preference_field(@integration, form, 'password', i18n_scope: 'admin.integrations.shipstation') %>
    <%= preference_field(@integration, form, 'capture_at_notification', i18n_scope: 'admin.integrations.shipstation') %>
  </div>
</div>


