<div class="card mb-4">
  <div class="card-body" data-controller="reveal">
    <% if @integration.persisted? %>
      <div class="alert alert-warning">
        <%= Spree.t('admin.integrations.shipstation.reports_warning') %>
      </div>
    <% end %>

    <div>
      <%= preference_field(@integration, form, 'username', i18n_scope: 'admin.integrations.shipstation') %>
    </div>


    <div>
      <%= preference_field(@integration, form, 'password', i18n_scope: 'admin.integrations.shipstation') %>
    </div>

    <div>
      <%= preference_field(@integration, form, 'capture_at_notification', i18n_scope: 'admin.integrations.shipstation') %>
    </div>
  </div>
</div>
