---
name: CI
on:
  pull_request:
    branches:
    - '*'
  push:
    branches:
    - master

jobs:
  sqlite:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby: ['3.3', '3.4']
        gemfile:
        - spree_5_1
        - spree_5_2
        - spree_main
    env:
      BUNDLE_GEMFILE: ${{ github.workspace }}/gemfiles/${{ matrix.gemfile }}.gemfile
      BUNDLE_PATH_RELATIVE_TO_CWD: true
    steps:
    - uses: actions/checkout@v6
    - name: Set up Ruby ${{ matrix.ruby }}
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
    - name: Run tests
      env:
        RAILS_ENV: test
      run: bundle exec rake
